table.mat-table
    margin: auto
    border-spacing: 0
    margin-top: 50px
.pdfButtons
    margin: auto
    padding-left: 575px
    margin-left: 300px
    margin-top: 100px
button:nth-child(1)
    margin-right: 10px
.recipeTable
    min-width: 250px
.checked
    min-width: 100px
    