<div>
    <table class="first_table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th class="checked" mat-header-cell *matHeaderCellDef> Numéro </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th class="recipeTable" mat-header-cell *matHeaderCellDef> Nom de la recette </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="preparation">
            <th class="recipeTable" mat-header-cell *matHeaderCellDef> Préparation </th>
            <td mat-cell *matCellDef="let element"> {{element.preparation.split(".", 1)}} </td>
        </ng-container>

        <ng-container matColumnDef="ingredients">
            <th mat-header-cell *matHeaderCellDef> Ingrédients </th>
            <td mat-cell *matCellDef="let element"> {{element.ingredients.length}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Supprimer </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary">
                    <mat-icon>delete_outline</mat-icon>
                </button> </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
    </table>
    <div class="pdfButtons">
        <button mat-raised-button color="primary" (click)="generatePdf()">Générer
        </button>
        <button mat-raised-button color="primary"
            (click)="GetPdf('http://localhost:8080/recipe-get-pdf')">Télécharger</button>
    </div>
</div>