<div class="container position-formulaire">
    <div class="row">
        <div class="col"><span class="styled-title">Ajouter une nouvelle recette</span></div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">
                        Nom de la recette
                    </label>
                    <input class="form-control" id="name" type="text" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="preparation">
                        Préparation de la recette
                    </label>
                    <textarea class="form-control" id="prepration" type="text" formControlName="preparation"></textarea>
                </div>
                <div class="form-group">
                    <label for="ingredients">Ingrédients (maintenir shift pour une sélection multipes)</label>
                    <select multiple class="form-control" id="ingredients" formControlName="ingredients">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-style" type="submit">Créer la recette</button>
            </form>
        </div>
    </div>
</div>