<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
        <div>
            <form [formGroup]="addIngredient" (ngSubmit)="postIngredients()">
                <mat-label>Ajouter un ingrédient</mat-label>
                <div class="form-group">

                    <mat-form-field>
                        <mat-select id="foodId" formControlName="foodId">
                            <mat-option *ngFor="let food of listFood" [value]="food.name && food.id">
                                {{food.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Quantité</mat-label>
                        <input matInput placeholder="Ex. 100" class="form-control" id="quantite" type="text"
                            formControlName="quantite">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Unité</mat-label>
                        <input matInput placeholder="Ex. g" class="form-control" id="unite" type="text"
                            formControlName="unite">
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary" type="submit">Ajouter
                    l'ingrédient</button>
            </form>
        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div>
            <span>Liste des ingrédients sélectionnés:</span>
            <mat-list role="list">
                <mat-list-item *ngFor="let i of SelectedIngredients">
                    <mat-card>{{i.name}} - {{i.quantite}} {{i.unite}}</mat-card>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <!-- <div><b>Ajouter une nouvelle recette</b></div> -->
            <form [formGroup]="addForm" (ngSubmit)="postRecipe()" class="example-form">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Nom de la recette</mat-label>
                        <input matInput placeholder="Ex. Pizza chèvre miel" class="form-control" id="name" type="text"
                            formControlName="name">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field [style.fontSize]="10">
                        <mat-label>Préparation de la recette</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="10" class="form-control" id="prepration" type="text"
                            formControlName="preparation"
                            placeholder="Ex. mélanger les oeufs et la farine..."></textarea>
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary" type="submit">Créer la recette</button>
            </form>
        </div>
    </mat-grid-tile>
</mat-grid-list>