.position-formulaire
    display: block
    justify-content: center
    margin-top: 30px
.styled-title
    font-weight: bold
    font-size: 16px
.btn-style
    font-size: 20px
    font-weight: bold
    background-color: teal !important
    border-color: teal
.space-on-title
    margin-top: 10px
.styled-p
    color: green
    width: 100%
    margin-top: 10px
    font-weight: bold
    font-size: 16px