<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">
      <mat-icon matTooltip="Nos recette"> format_list_bulleted</mat-icon>  DadCooking</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/formulaire-ingredient">
      <mat-icon matTooltip="Ajouter un ingrédient">add_circle</mat-icon>
    </button>
    <button mat-button>
      <mat-icon routerLink="/formulaire-recipes" matTooltip="Ajouter une recette">receipt</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>